
div {
    margin: 5px;
}

form {
    display: table;
}

.table_row {
    display: table-row;
}

label {
    display: table-cell;
    margin: 5px;
}

input {
    display: table-cell;
    margin: 5px;
}

