
.form-align {
    vertical-align: middle;
}

textarea {
    margin-left: 20px;
}

label {
    margin: 5px;
}

input {
    margin: 5px;
}

.solid_border {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 5px;
}

.solid-border-no-pad{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.cen-align{
	text-align: center;
}

/* Admin Classes */
.wrap{
	display: flex;
	float: left;
	clear: both;
}

.wrap-block{
	flex: 1;
	
	padding: 1em;
}

table, td, th {
    border: 3px solid blue;
    padding: 3px;
}
